.container{
    border-radius: 10px;
    margin: 0 100px;
    padding: 40px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.spanish{
    background: var(--purple---secondry);
    transition: all 0.4s ease-in-out;
}

.spanish:hover{
    box-shadow: 0 4px 20px 0 rgba(140, 60, 222, 0.3);
    background: rgba(201, 181, 253, 0.3);
}

.chines{
    background: #fdede4;
    transition: all 0.4s ease-in-out;
}

.chines:hover{
    box-shadow: 0 4px 20px 0 rgba(228, 33, 37, 0.3);
    background: #fdede4;
}

.germany{
    background-color: var(--blue---secondary);
    transition: all 0.4s ease-in-out;
}

.germany:hover{
    box-shadow: 0 4px 20px 0 rgba(81, 162, 217, 0.3);
    background: var(--blue---secondary);
}

.title{
    transition: all 0.4s ease-in-out;
}

.germany:hover .title{
    font-weight: 700;
    line-height: 113%;
    letter-spacing: 0.01em;
    color: var(--blue);
}

.chines:hover .title{
    font-weight: 700;
    line-height: 113%;
    letter-spacing: 0.01em;
    color: var(--purple);
}

.spanish:hover .title{
    color: var(--dark-green-hover)
}

.details{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.duration span,
.quantityModules span{
    font-weight: 700;
    color: #333;
}

.linkContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--purple---hover);
}

.route{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price{
    font-family: var(--ff-gilroy-bold);
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 113%;
    letter-spacing: 0.01em;
    text-align: right;
    color: #333;
}

@media screen and (max-width: 1515px){
    .container{
        max-width: 100%;
    }
    .price{
        font-size: 1rem;
    }
    .linkContainer{
        font-size: 0.88rem;
    }
    .title{
        font-size: 1.5rem !important;
    }
}