.adminBlock{
    background-color: var(--white);
    border-radius: 1.25rem;
}

.adminBlockTitle{
    text-align: center;
    border-bottom: 1px solid;
    padding: 10px 0;
}

.adminBlockContent{
    padding: 1rem;
}

.adminBlockPage{
    margin-top: 30px;
}