.btn{
    width: 32px;
    height: 32px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0.25rem;
    transition: 0.3s ease-in-out;
}

.active{
    background-color: #78258d;
}

.active > .plusActive{
    transition-timing-function: ease-in-out;
    transition-duration: 700ms;
    transition-delay: 200ms;
    transform: rotate(135deg);
}

.plusActive > path{
    stroke: var(--white);
}

@keyframes reverseRotation {
    0% {
        transform: rotate(135deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.btn:not(.active) .plus{
    animation: reverseRotation 0.3s ease-in-out;
    animation-duration: 500ms;
}