.h1MainTitle{
    font-family: var(--ff-gilroy-black);
    font-weight: 900;
    font-size: 60px;
    line-height: 117%;
    letter-spacing: 0.01em;
    color: var(--title);
}

.h1Other{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 46px;
    line-height: 113%;
    letter-spacing: 0.01em;
    color: var(--title);
}

.h2TitleBlock{
    font-family: var(--ff-gilroy-heavy);
    font-weight: 900;
    font-size: 46px;
    line-height: 117%;
    letter-spacing: 0.01em;
    color: var(--title);
}

.h3TitleCard{
    font-family: var(--ff-gilroy-bold);
    font-weight: 700;
    font-size: 26px;
    line-height: 113%;
    letter-spacing: 0.01em;
    color: var(--title);
}

.h3TitleAdv{
    font-family: var(--ff-gilroy-bold);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: var(--title);
}

.h3WhoseLang{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 113%;
    letter-spacing: 0.01em;
    color: var(--title);
}

.h3Footer{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #fff;
}