.promo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.smallTitle{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: var(--blue);
}

.bigTitle{
    margin-top: 15px;
}

.titleDescription{
    margin-top: 20px;
    max-width: 491px;
}

.cta{
    margin-top: 56px;
    display: flex;
    align-items: center;
    gap: 32px;
}

.shortCoursesHeader{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.shortCoursesTitle{
    max-width: 650px;
}

.whoWillSuit{
    padding-top: 100px;
}

.whoWillSuitContent{
    display: flex;
    gap: 40px;
    padding-top: 100px;
}

.whoWillSuitTitle{
    margin-bottom: 27px;
}

.whoWillSuitTitle span{
    background: linear-gradient(83deg, #2e90d1 0%, #78258d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whoWillSuitDesc span{
    background: linear-gradient(135deg, #2e90d1 0%, #78258d 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.whoWillSuitBtn{
    margin-top: 40px;
}

.whoWillSuitInfo{
    max-width: 24rem;
}

.whoWillSuitAdv{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 1440px){
    .imgPromo{
        width: 70%;
        height: 80%;
    }
}
